*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --primary-color: #0077b6;
  --accent1-color: #000;
  --accent2-color: #F2F2F2;
    --heading-font: "Poppins", "Segoe UI", sans-serif;
    --body-font: "Open Sans", "Helvetica Neue", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

nav a {
    color: #fff;
    
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 1rem;
    color: white;
}



footer .socialmedia a {
    text-decoration: none;
    display: flex;
    gap: 1rem;
}

footer .socialmedia img {
    width: 50px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 100px;
    width: 95%;
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 250px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
    align-items: center;
}

.history-grid img {
    width: 100%;
    border-radius: 10px;
}

.history h2{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.adventures {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.adventure-gallery {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.adventure-gallery figure {
    width: 18%;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    border-radius: 8px;
}