* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background: #fff;
    color: #333;
}

header{
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 2rem;
    color: #16277c;
    margin-top: 10px;
}

form {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: grid;
    gap: 25px;
}

fieldset {
    border: 1px solid #bbb;
    padding: 2opx;
    border-radius: 6px;
    display: grid;
    gap: 15px;
}

legend {
    font-size: 1.3rem;
    font-weight: bold;
    color: #16277c;
    padding: 0 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    text-align: center;
    padding-right: 10px;
    font-family: 'segoe UI', sans-serif;
    font-size: 1rem;
}

input[type="text"], input[type="email"],
select, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    padding: 12px 20px;
    background-color: #0d1b7f;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    justify-self: center;
}

button:hover {
    background-color: #08135a;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #555;
    font-size: 0.9rem;
}