/* Class Selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-align: center;
    --height: auto;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}


nav {
    background-color:darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid black;
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    padding: 0;
}

main {
    width: 840px;
}


aside {
    width: 20em;
    text-align: var(--text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: var(--text-align)
}

.indent {
    padding-left: 2rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}