/* Class Selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-align: center;
    --height: auto;
}

nav {
    background-color:steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 2px solid black;
    
}

p {
    margin: 1rem;
    padding: 10px;
}

main {
    max-width: 640px;
}

main img {
    width: 150px;
    height: var(--height);
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}


aside {
    width: 20em;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: var(--text-align)
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / .1);
    padding: 1rem;
    background-color: #eee;
    color: #000; 
}

.indent {
    padding-left: 2rem;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}
    
main {
    grid-column: 2/3;
    margin: 1rem;
}
    
aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}